**/__pycache__
**/.DS_Store
**/.pytest_cache
**/.vscode

square-ui/node_modules
square-ui/.pnp
.pnp.js

# testing
square-ui/coverage

# production
square-ui/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
